<div class="cell leftGrid">
    <div class="position">1</div>
    <div class="frame"></div>
    <div class="fill" style="background-image: url('@GetDriverImg(raceResult[0])')"></div>
    <InputSelect @bind-Value="raceResult[0]" class="form-control input" TValue="int">
        <OptionList driverDict="driverNamesAndIds" raceResult="raceResult"></OptionList>
    </InputSelect>
</div>
<div class="cell rightGrid">
    <div class="position">2</div>
    <div class="frame"></div>
    <div class="fill" style="background-image: url('@GetDriverImg(raceResult[1])')"></div>
    <InputSelect @bind-Value="raceResult[1]" class="form-control input" TValue="int">
        <OptionList driverDict="driverNamesAndIds" raceResult="raceResult"></OptionList>
    </InputSelect>
</div>
<div class="cell leftGrid">
    <div class="position">3</div>
    <div class="frame"></div>
    <div class="fill" style="background-image: url('@GetDriverImg(raceResult[2])')"></div>
    <InputSelect @bind-Value="raceResult[2]" class="form-control input" TValue="int">
        <OptionList driverDict="driverNamesAndIds" raceResult="raceResult"></OptionList>
    </InputSelect>
</div>
<div class="cell rightGrid">
    <div class="position">4</div>
    <div class="frame"></div>
    <div class="fill" style="background-image: url('@GetDriverImg(raceResult[3])')"></div>
    <InputSelect @bind-Value="raceResult[3]" class="form-control input" TValue="int">
        <OptionList driverDict="driverNamesAndIds" raceResult="raceResult"></OptionList>
    </InputSelect>
</div>
<div class="cell leftGrid">
    <div class="position">5</div>
    <div class="frame"></div>
    <div class="fill" style="background-image: url('@GetDriverImg(raceResult[4])')"></div>
    <InputSelect @bind-Value="raceResult[4]" class="form-control input" TValue="int">
        <OptionList driverDict="driverNamesAndIds" raceResult="raceResult"></OptionList>
    </InputSelect>
</div>
<div class="cell rightGrid">
    <div class="position">6</div>
    <div class="frame"></div>
    <div class="fill" style="background-image: url('@GetDriverImg(raceResult[5])')"></div>
    <InputSelect @bind-Value="raceResult[5]" class="form-control input" TValue="int">
        <OptionList driverDict="driverNamesAndIds" raceResult="raceResult"></OptionList>
    </InputSelect>
</div>
<div class="cell leftGrid">
    <div class="position">7</div>
    <div class="frame"></div>
    <div class="fill" style="background-image: url('@GetDriverImg(raceResult[6])')"></div>
    <InputSelect @bind-Value="raceResult[6]" class="form-control input" TValue="int">
        <OptionList driverDict="driverNamesAndIds" raceResult="raceResult"></OptionList>
    </InputSelect>
</div>
<div class="cell rightGrid">
    <div class="position">8</div>
    <div class="frame"></div>
    <div class="fill" style="background-image: url('@GetDriverImg(raceResult[7])')"></div>
    <InputSelect @bind-Value="raceResult[7]" class="form-control input" TValue="int">
        <OptionList driverDict="driverNamesAndIds" raceResult="raceResult"></OptionList>
    </InputSelect>
</div>
<div class="cell leftGrid">
    <div class="position">9</div>
    <div class="frame"></div>
    <div class="fill" style="background-image: url('@GetDriverImg(raceResult[8])')"></div>
    <InputSelect @bind-Value="raceResult[8]" class="form-control input" TValue="int">
        <OptionList driverDict="driverNamesAndIds" raceResult="raceResult"></OptionList>
    </InputSelect>
</div>
<div class="cell rightGrid">
    <div class="position">10</div>
    <div class="frame"></div>
    <div class="fill" style="background-image: url('@GetDriverImg(raceResult[9])')"></div>
    <InputSelect @bind-Value="raceResult[9]" class="form-control input" TValue="int">
        <OptionList driverDict="driverNamesAndIds" raceResult="raceResult"></OptionList>
    </InputSelect>
</div>
<div class="cell leftGrid">
    <div class="position">11</div>
    <div class="frame"></div>
    <div class="fill" style="background-image: url('@GetDriverImg(raceResult[10])')"></div>
    <InputSelect @bind-Value="raceResult[10]" class="form-control input" TValue="int">
        <OptionList driverDict="driverNamesAndIds" raceResult="raceResult"></OptionList>
    </InputSelect>
</div>
<div class="cell rightGrid">
    <div class="position">12</div>
    <div class="frame"></div>
    <div class="fill" style="background-image: url('@GetDriverImg(raceResult[11])')"></div>
    <InputSelect @bind-Value="raceResult[11]" class="form-control input" TValue="int">
        <OptionList driverDict="driverNamesAndIds" raceResult="raceResult"></OptionList>
    </InputSelect>
</div>
<div class="cell leftGrid">
    <div class="position">13</div>
    <div class="frame"></div>
    <div class="fill" style="background-image: url('@GetDriverImg(raceResult[12])')"></div>
    <InputSelect @bind-Value="raceResult[12]" class="form-control input" TValue="int">
        <OptionList driverDict="driverNamesAndIds" raceResult="raceResult"></OptionList>
    </InputSelect>
</div>
<div class="cell rightGrid">
    <div class="position">14</div>
    <div class="frame"></div>
    <div class="fill" style="background-image: url('@GetDriverImg(raceResult[13])')"></div>
    <InputSelect @bind-Value="raceResult[13]" class="form-control input" TValue="int">
        <OptionList driverDict="driverNamesAndIds" raceResult="raceResult"></OptionList>
    </InputSelect>
</div>
<div class="cell leftGrid">
    <div class="position">15</div>
    <div class="frame"></div>
    <div class="fill" style="background-image: url('@GetDriverImg(raceResult[14])')"></div>
    <InputSelect @bind-Value="raceResult[14]" class="form-control input" TValue="int">
        <OptionList driverDict="driverNamesAndIds" raceResult="raceResult"></OptionList>
    </InputSelect>
</div>
<div class="cell rightGrid">
    <div class="position">16</div>
    <div class="frame"></div>
    <div class="fill" style="background-image: url('@GetDriverImg(raceResult[15])')"></div>
    <InputSelect @bind-Value="raceResult[15]" class="form-control input" TValue="int">
        <OptionList driverDict="driverNamesAndIds" raceResult="raceResult"></OptionList>
    </InputSelect>
</div>
<div class="cell leftGrid">
    <div class="position">17</div>
    <div class="frame"></div>
    <div class="fill" style="background-image: url('@GetDriverImg(raceResult[16])')"></div>
    <InputSelect @bind-Value="raceResult[16]" class="form-control input" TValue="int">
        <OptionList driverDict="driverNamesAndIds" raceResult="raceResult"></OptionList>
    </InputSelect>
</div>
<div class="cell rightGrid">
    <div class="position">18</div>
    <div class="frame"></div>
    <div class="fill" style="background-image: url('@GetDriverImg(raceResult[17])')"></div>
    <InputSelect @bind-Value="raceResult[17]" class="form-control input" TValue="int">
        <OptionList driverDict="driverNamesAndIds" raceResult="raceResult"></OptionList>
    </InputSelect>
</div>
<div class="cell leftGrid">
    <div class="position">19</div>
    <div class="frame"></div>
    <div class="fill" style="background-image: url('@GetDriverImg(raceResult[18])')"></div>
    <InputSelect @bind-Value="raceResult[18]" class="form-control input" TValue="int">
        <OptionList driverDict="driverNamesAndIds" raceResult="raceResult"></OptionList>
    </InputSelect>
</div>
<div class="cell rightGrid">
    <div class="position">20</div>
    <div class="frame"></div>
    <div class="fill" style="background-image: url('@GetDriverImg(raceResult[19])')"></div>
    <InputSelect @bind-Value="raceResult[19]" class="form-control input" TValue="int">
        <OptionList driverDict="driverNamesAndIds" raceResult="raceResult"></OptionList>
    </InputSelect>
</div>




@code {
    [Parameter]
    public int[] raceResult { get; set; } = new int[20];
    [Parameter]
    public Dictionary<int, string> driverNamesAndIds { get; set; } = new();

    public List<string> usedDriverNames = new();


    private string GetDriverImg(int selectedDriver)
    {
        try
        {
            return $"../Images/FACES/{driverNamesAndIds.GetValueOrDefault(selectedDriver).ToUpper()}.png";
        }
        catch(Exception e)
        {

            return "../Images/FACES/tr.png";
        }
    }

    // private Dictionary<int, string> DriverNameList(int currentIndex)
    // {
    //     return driverNamesAndIds.Where(driver => !raceResult.Contains(driver.Key)).ToDictionary();
    // }
}
