<option value="0" selected>Select One...</option>


@if(usefor == "grids")
{
    foreach (var driver in driverDict)
    {
        <option value="@driver.Key" style="@(raceResult.Contains(driver.Key) ? "display: none;" : "")">@driver.Value</option>
    }
}
else
{
    foreach (var driver in driverDict)
    {
        <option value="@driver.Key">@driver.Value</option>
    }
}



@code{

    [Parameter]
    public Dictionary<int, string> driverDict {get; set;}

    [Parameter]
    public int[] raceResult { get; set; }

    [Parameter]
    public string usefor { get; set; }
}