<option value="0" selected>Select One...</option>


@if(usefor == "grids")
{
    var driverDictList = driverDict.ToList();

    for (int i = 0; i < driverDictList.Count; i++)
    {
        if(i >= 20) 
        {
            <option value="@(driverDictList[i].Key)" 
                style="color: red; 
                @(raceResult.Contains(driverDictList[i].Key) ? "display: none;" : "")">
                @driverDictList[i].Value
            </option>
        }
        else
        {
            <option value="@(driverDictList[i].Key)" 
                style="@(raceResult.Contains(driverDictList[i].Key) ? "display: none;" : "")">
                @driverDictList[i].Value
            </option>
        }
    }
}
else
{
    foreach (var item in driverDict) { <option value="@(item.Key)">@item.Value</option> }
}



@code{
    [Parameter]
    public Dictionary<int, string> driverDict {get; set;}

    [Parameter]
    public int[] raceResult { get; set; }

    [Parameter]
    public string usefor { get; set; }
}